footer{
    background-color: #9BAC97;
    margin-top: 3em;
}

.color{
    background-color: #456761;
}

.text-margin{
    margin-left: 1em;
}

.anchors, .iconos > a{
    text-decoration: none;
    color: black;
}

.bold{
    font-weight: bold;
}