.h2Contacto{
    text-align: center;
    margin: 30px 0;
}

.forms{
    border: 1px solid gray;
    background-color: #94afab;
    border-radius: 8px;
}

.marginForm{
    margin-top:2em;
    margin-bottom: 2em;
    
}

