.grillaServicios {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr auto 1fr 1fr 1fr 1fr auto;
    gap: 20px 20px;
    grid-auto-flow: row;
    grid-template-areas:
      "principal principal principal principal principal principal principal principal principal principal"
      ". h2 h2 h2 h2 h2 h2 h2 h2 ."
      ". foto1 foto1 foto2 foto2 foto3 foto3 foto4 foto4 ."
      ". foto1 foto1 foto2 foto2 foto3 foto3 foto4 foto4 ."
      ". foto5 foto5 foto6 foto6 foto7 foto7 foto8 foto8 ."
      ". foto5 foto5 foto6 foto6 foto7 foto7 foto8 foto8 ."
      "footer footer footer footer footer footer footer footer footer footer";
  }
  
.principal {
    grid-area: principal;
    h1{
        margin-left: 0;
    }
}

  
.footer {
    grid-area: footer;
    height: 12vh;
    
}
  .h2{
      grid-area: h2;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 30px;
  }
  .foto1 { grid-area: foto1; }
  
  .foto2 { grid-area: foto2; }
  
  .foto3 { grid-area: foto3; }
  
  .foto4 { grid-area: foto4; }
  
  .foto5 { grid-area: foto5; }
  
  .foto6 { grid-area: foto6; }
  
  .foto7 { grid-area: foto7; }
  
  .foto8 { grid-area: foto8; }


.imagenes{
    position: relative;
}
.fotosServicios > img{
    border: solid 1px gray;
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
    max-height: 100%;
    
    
}
/* Animaciones Servicios */

.principal > *{
    transition: all 0.25s;
}

.principal h1:hover{
    transform: scale(1.01);
}

.principal a:hover{
    transform: scale(1.1);
}

.img{
    display: block;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0 , 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-weight: 400;
    opacity: 0;
    transition: opacity 0.25s;
    border-radius: 10px;
}

.overlayBlur{
    backdrop-filter: blur(1px);
}

.overlay > *{
    transform: translateY(20px);
    transition: transform 0.25s;
}
.overlay:hover{
    opacity: 1;
}

.overlay:hover > *{
    transform: translateY(0);
}

//Responsive

@media (max-width:768px){
    .grillaServicios {  display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 0.8fr 0.9fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr auto;
        gap: 10px 20px;
        grid-auto-flow: row;
        grid-template-areas:
          "principal principal principal principal principal principal"
          ". h2 h2 h2 h2 ."
          ". foto1 foto1 foto2 foto2 ."
          ". foto1 foto1 foto2 foto2 ."
          ". foto3 foto3 foto4 foto4 ."
          ". foto3 foto3 foto4 foto4 ."
          ". foto5 foto5 foto6 foto6 ."
          ". foto5 foto5 foto6 foto6 ."
          ". foto7 foto7 foto8 foto8 ."
          ". foto7 foto7 foto8 foto8 ."
          "footer footer footer footer footer footer";
      }
      
    .principal { grid-area: principal; }
    
    .h2 { grid-area: h2; }
    
    .foto1 { grid-area: foto1; }
    
    .foto2 { grid-area: foto2; }
    
    .foto3 { grid-area: foto3; }
    
    .foto4 { grid-area: foto4; }
    
    .foto5 { grid-area: foto5; }
    
    .foto6 { grid-area: foto6; }
    
    .foto7 { grid-area: foto7; }
    
    .foto8 { grid-area: foto8; }
    
    .footer {
        grid-area: footer;
        height: fit-content;
    }
    .navFooter{
        font-size: 10pt;
    }
    .formFooter h6{
        margin-top: 10px;
    }
}