.h2Tarifas{
    margin: 30px 0;
    text-align: center;
}

.listaTarifas{

    display: flex;
    justify-content: center;
    align-content: center;
    margin: 20px;
}

.precioMargin{
    margin: 2em 0;
}

.botonMargin{
    margin: 2em 0;
}